@import "tailwindcss";

body{
  background-color: #FAF5FF;
}

.mark {
  font-family: "Markazi Text", serif;

}
.lato {
  font-family: "Lato", serif;

}
.hana{
  font-family: "Hanalei Fill", serif;

}
